body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #9b1d1d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://www.ole.com.ar/2022/12/22/_F-qwLwcV_1580x750__1.jpg);
}

.login-container {
    background-color: #fff;
    padding: 40px;
    margin:40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}